<header>
  <div class="header-logo">
    <a href="/">Star Citizen Tools</a>
  </div>
  <ul class="header-menus">
    <a href="/about"><li>Star Citizen Toolsとは</li></a>
  </ul>
</header>

<div class="about-main">
  <h2>About Tools</h2>
  <p>About Tools Discriptions...</p>
  <a href="/">Topへ戻る</a>
  <img class="about-img" src="/tweets.jpg">
</div>
