<header>
  <div class="header-logo">
    <a href="/">Star Citizen Tools</a>
  </div>
  <ul class="header-menus">
    <a href="/about"><li>Star Citizen Toolsとは</li></a>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h1>Star Citizen Tools</h1>
    <p>今の気持ちをつぶやいてみよう！</p>
    <a href="/about">Aboutへ</a>
  </div>
</div>